<h2><%= @variety.name %></h2>

<div class="admin_button">
  <%= link_to "Add New Wine", new_wine_path(variety_id: @variety.id) %>
</div>

<ul>
  <% @variety.wines.each do |wine| %>
    <li><%= link_to wine.name, wine_path(wine.id) %></li>
  <%end%>
</ul>
