<h1><%= @variety.name %></h1>

<%= link_to "Add New Wine", new_wine_path(variety_id: @variety.id) %>

<ul>
  <% @variety.wines.each do |wine| %>
    <li><%= link_to wine.name, wine_path(wine.id) %></li>
  <%end%>
</ul>
