<div class="jumbotron">
  <div class="container text-center">
    <h1>World of Wines</h1>
    <p>The ultimate guide to wine</p>
  </div>
</div>

<div class="container">
    <div class="col-md-5 no-padding lib-item" data-category="view">
        <div class="lib-panel">
            <div class="col-md-6">
                <img class="lib-img-show" src="http://lorempixel.com/850/850/?random=123">
            </div>
        </div>
    </div>

    <div class="col-md-5 no-padding lib-item" data-category="ui">
        <div class="lib-panel">
            <div class="col-md-6">
                <img class="lib-img" src="http://lorempixel.com/850/850/?random=456">
            </div>
        </div>
    </div>

    <div class="col-md-5 no-padding lib-item" data-category="view">
        <div class="lib-panel">
            <div class="col-md-6">
                <img class="lib-img-show" src="http://lorempixel.com/850/850/?random=123">
            </div>
        </div>
    </div>

    <div class="col-md-5 no-padding lib-item" data-category="ui">
        <div class="lib-panel">
            <div class="col-md-6">
                <img class="lib-img" src="http://lorempixel.com/850/850/?random=456">
            </div>
        </div>
    </div>

    <div class="col-md-5 no-padding lib-item" data-category="ui">
        <div class="lib-panel">
            <div class="col-md-6">
                <img class="lib-img" src="http://lorempixel.com/850/850/?random=456">
            </div>
        </div>
    </div>
</div>
<%= link_to "New Country", new_country_path %>
<ul>
  <% @country.each do |c| %>
    <li><%= link_to c.name, country_path(c.id) %></li>
  <%end%>
</ul>
