<div class="jumbotron">
  <div class="container text-center">
    <div class="header_text">
      <h1>World of Wines</h1>
      <h2>The ultimate guide to wine</h2>
    </div>
  </div>
</div>

<div class="admin_button">
  <%= link_to "New Country", new_country_path, class: "btn btn-primary"  %>
</div>
<br>

<div class="row">

<% @countries.each do |country| %>

 <div class="col-md-3">

  <!--Card-->
  <div class="card" >
  <%= link_to country_path country do %>
    <%= cl_image_tag country.image, class: "img-fluid country-thumb" %>
    <% end %>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title"><%= country.name %></h4>
        <!--Text-->
    </div>
    <!--/.Card content-->
</div><!-- card -->

</div><!-- col-md-3 -->

<% end %>

</div><!-- row -->
