/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700');
.jumbotron {
  background-image: url("/assets/vineyard4.jpg");
  background-size: cover;
  border-radius: 0;
}

.navbar-inverse {
  margin-bottom: 0px;
  border-radius: 0 !important;
}

.thumbnail{
  cursor: pointer;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 10%;
}

h1 {
  font-size: 150px !important;
  text-shadow: 4px 4px 4px white;
}

.header_text {
  font-family: 'Tangerine', cursive, sans-serif;
  color: black !important;
}

h2 {
  font-size: 60px;
  text-align: center;
  text-shadow: 4px 4px 4px white;
}

.admin_button {
  text-align: center;
}

.wine_image {
  display: inline-block;
  padding: 0 5em;
}

.wine_text {
  font-size: 22px;
  max-width: 600px;
  margin: 5em;
  display: inline-block;
}

.row.text-center2 {
  margin-left: 24%;
}

.lib-img {
  height: 200px;
  width: 200px;
}

.country_image {
  text-align: center;
}

footer {
  position: fixed;
}

li {
  display: inline;
  font-size: 20px;
  padding: 10px;
}

.main_links {
  text-align: center;
}

.country_image > img {
  height: 700px;
  width: 500px;
}

.country-thumb {
  max-height: 200px;
  margin: 0 auto !important;
}

.col-md-3 {
  margin: 55px;
}

body {
  background-color: #fbe4bd;
}

h4 {
  text-align: center;
}

.img-fluid {
  padding-left: 80px;
  padding-top: 10px;
}
