/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700');
.jumbotron {
  background-image: url("/assets/vineyard4.jpg");
  background-size: cover;
}

.navbar-inverse {
  margin-bottom: 0px;
  border-radius: 0 !important;
}

.thumbnail{
  cursor: pointer;
}

h1 {
  font-family: 'Tangerine', cursive, sans-serif;
  font-size: 100px !important;
}

h2 {
  font-size: 50px;
  text-align: center;
}

.admin_button {
  text-align: center;
}

.wine_image {
  text-align: center;
  max-height: 700px;
}

.row.text-center2 {
  margin-left: 24%;
}

.lib-img {
  height: 300px;
  width: 300px;
}

.country_image {
  
}

footer {
  position: fixed;
}
